/* Reset das configurações do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nosifer', serif;
    text-rendering: optimizeLegibility;
}

/*barra de navegação*/
.bg-cor-que-eu-quero {
    background: rgb(85, 73, 148)
}

.quadrado {
    margin-top: 8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30em;
    height: 30em;
}

.celula {
    width: 9em;
    height: 9em;
    box-shadow: .25em .25em .25em solid rgb(85, 73, 148);
}

.btn-purpura {
    background: rgb(168, 87, 186);
}